html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  :root {
    --bs-border-width: 0px;
  }
  

  .container-sm, .card {
    border: none !important; /* Eliminar bordes */
    box-shadow: none !important; /* Eliminar sombras */
    padding: 0 !important; /* Eliminar padding */
    margin: 0 !important; /* Eliminar márgenes */
    --bs-border-width: 0px;
  }
/* Centrado del contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    
  }
  
  /* Estilo del formulario */
  .formWrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #f4f6f9; /* Fondo claro */
  }
  
  /* Botón de Login personalizado */
  .loginButton {
    width: 100%;
    background-color: #45a049;
    color: white;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
  }
  
  .loginButton:hover {
    background-color: #2e6b31;
  }
  
  /* Estilo de la alerta */
  .alertWrapper {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  /* Ajustes de formulario en pantallas pequeñas */
  @media (max-width: 768px) {
    .formWrapper {
      padding: 1.5rem;
    }
  }
  